@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-botao: #DDDBCB;
    --cor-fundo: #F5F1E3;
    --cor-branco: #FFFFFF;
    --cor-texto: #353B3C;
    --cor-secundaria: #846A6A;
    --fonte-principal: 'Montserrat', sans-serif
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 2pw;
}

.container{
    display: flex;
}

.container__titulo{
    text-decoration: none;
    align-items: center;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
}

.container__titulo__home{
    display: inline-block;
    text-decoration: none;
    align-items: center;
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-left: 34px;
    margin-top: 22px;
}

.container__separator{
    width: 1px;
    height: 100vh;
    background-color: var(--cor-secundaria);
    top: 0;
    margin: 0 20px 0 20px;
    
    
}


.container__lateral{
    list-style: none;
}

.container__lateral__botoes {
    display: inline-block;
    color: var(--cor-texto);
    text-decoration: none;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.container__lateral__botoes:hover {
    background-color: var(--cor-botao);
    text-decoration: none;
}

.container__conteudo__tabela__tabela{
    background-color: var(--cor-botao);
    border-collapse: collapse;
    align-items: left;
    
}

.container__conteudo__tabela__coluna__id{
    border: 1px solid var(--cor-texto);
    text-align: center;
    font-size: 20px;
}

.container__conteudo__tabela__coluna{
    border: 1px solid var(--cor-texto);
    width: 200px;
    text-align: center;
    font-size: 20px;
}

.container__conteudo__tabela__item{
    border: 1px solid var(--cor-texto);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
}


.container__conteudo__cadastro{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__conteudo__texto{
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
    margin-right: 10px;
}

.container__conteudo__input{
    font-family: var(--fonte-principal);
    padding: 0px;
    margin: 2px;
    border: 1px solid gray;
    font-size: 15px;
}

.container__conteudo__botao{
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-top:10px;
    margin-left: 110px;
    cursor: pointer;
}



.container__conteudo__botao:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-branco);
}


@media (max-width: 800px){
    .container {
        flex-direction: column;
    }

    .container__lateral {
        display:flex;
        padding: 0px;
        justify-content: space-around;
        flex-wrap:wrap;

    }

    .container__separator {
        height: 1px;
        width: 90vw;
        left: 0px;
    }

    .tabela {
        margin-top: 20px;
    }

    body{
        font-size:3vw;
    }

    .container__lateral__botoes{
        font-size:15px;
    }

    .container__titulo__home {
        font-size: 20px;

    }

    .container__conteudo__removedor__texto {
        font-size: 15px;
        margin: 5px;
        text-align:center;
    }

    .container__conteudo__removedor__caixa__texto {
        font-size: 15px;
    }

    .container__conteudo__removedor__caixa__input {
        font-size: 12px;
        width: 76%;
    }

    .container__conteudo__removedor__botao {
        font-size: 12px;
        margin: 5px 0px 0px 0px;
    }

    .container__conteudo__removedor__caixa__botoes {
        font-size: 15px;
        display:flex;
        justify-content: space-around;
    }

    .container_pesquisa {
        margin-top: 20px;
    }

    .container__conteudo__cadastro__botao {
        margin: 0;
        display:flex;
        justify-content: space-around;
    }

    .container__conteudo__botao {
        margin-top: 10px;
        margin-left:0px;
    }

}