<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_add_rmv.css') }}">
</head>

<body>

    <div class="container">
        <div>
            <a href="/a_relatorio" class="container__titulo__home">ESTOQUE</a>
            <ul class="container__lateral">
                <li><a class="container__lateral__botoes" href="/a_relatorio" >Relatorio</a></li>
                <li><a class="container__lateral__botoes" href="/a_ver_estoque" >Ver estoque</a></li>
                <li><a class="container__lateral__botoes" href="/a_add_rmv" >Add/Rmv</a></li>
                <li><a class="container__lateral__botoes" href="/logout">Sair</a></li>
            </ul>
        </div>
        <div class="container__separator"></div>

        <div class="container__conteudo__rmv">

            <div class="container__conteudo__rmv__div">
                <div>

                    <div class="container__conteudo__removedor">

                        <p class="container__conteudo__removedor__texto">Quanto você quer remover?</p>

                        <form method="POST" action="/a_processoadicionaitem/{{ id_do_item }}/{{ tipo_passado }}">
                            <div class="container__conteudo__removedor__caixa">
                                <p class="container__conteudo__removedor__caixa__texto">Item: {{ item.Nome }}</p>
                                <p class="container__conteudo__removedor__caixa__texto">Quantidade atual: {{ item.Quantidade }}</p>

                            </div>
                            <div>
                                <input class="container__conteudo__removedor__caixa__input" type="number" name="quant_input" placeholder="Quantidade..." required>
                            </div>
                            <button class="container__conteudo__removedor__botao" type="submit" >Remover</button>
                        </form>
                    </div>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>