<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles_login.css') }}">
    <title>Tela de Login</title>
</head>
<body>
    <div class="container">
        <p>Projeto de gerenciamento de estoque para uma empresa, em que existirão admins e não admins, com uma session de acordo com a conta do usuário; um arquivo de log que identifica cada uma das ações feitas pelo usuário; tem uma página de relatório, para que possa ser visto os itens que estão proximos à quantidade mínima cadastrada no item; ver estoque e pesquisar pelo nome; adicionar ou remover itens do estoque; como admin, tem a possibilidade de cadastrar itens, editar ou remover o cadastro. </p>
        <a class="button" href="/login">Fazer login</a>
    </div>

</body>
</html>
